span.authNo{
  color: #08a600;
  font-size: 12px;
  line-height: 16px;
  display: block;
  margin-top: 5px;
}

span.timer{
  width: 100%;
  display: block;
  margin: 5px 0;
  color: #e54848;
  text-align: right;
}